
/*Made by Harry Bond 2021*/

body
{
	width:100%;
	height:100%;
	background-color: #141414;
}

a,a:hover
{
	color:white;
	text-decoration: none;
}

.white
{
	color:white;
}

.grey
{
	color:grey;
}

.bevel
{
	border-radius: 2.5vw;
}


/*Animations*/
.fadein
{
  animation: fadein .6s;
}

@keyframes fadein {
  0% {opacity:0;}
  100% {opacity:1;}
}
