
/*Made by Harry Bond 2021*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	color:white;
}

/*General Classes*/
html
{
height:100%;
width:100%;
background: linear-gradient(180deg,#335d77,#0e2133);
font-family:'Open Sans';
}

h1
{
	font-size: 5vmax;
	white-space: nowrap;
}

nav
{
	margin-top: 2vmin;
}

/*Custom Classes*/
.navdiv
{
	border: 1px solid white;
	border-radius: 100vw;
}

.navlmnt
 {
	 text-decoration: none;
 }

/*Animations*/
.fadein
{
  animation: fadein .6s;
}

@keyframes fadein {
  0% {opacity:0;}
  100% {opacity:1;}
}
