
/*Made by Harry Bond 2021*/

body
{
	width:100%;
	background-color: #141414;
}

a
{
	color:white;
	text-decoration: none;
}

.white
{
	color:white;
}

.grey
{
	color:grey;
}

.bevel
{
	border-radius: 2.5vw;
}

/*Animations*/
.fadein {animation: fadein 1s;}

@keyframes fadein {
  0% {opacity:0;}
  100% {opacity:1;}
}
