
/*Made by Harry Bond 2021*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

body
{
	background-color: #141414;
}

a
{
	color:white;
	text-decoration: none;
}

.button
{
	text-align:center;
	border: 2px solid white;
	border-radius: 1000px;
	background-color:white;
	color:#141414;
	width:120px;
	padding: .3vw;
}
.button:hover
{
	opacity: .6;
}

.d-block
{
	border-radius: 2.5vw;
}

/*Animations*/
.fadein {animation: fadein 1s;}

@keyframes fadein {
  0% {opacity:0;}
  100% {opacity:1;}
}
