
/*Made by Harry Bond 2021*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

body
{
	width:100%;
	background-color: #141414;
}

a
{
	color:white;
	text-decoration: none;
}

.bevel
{
	border-radius: 2.5vw;
}

/*Animations*/
.fadein {animation: fadein 1s;}

@keyframes fadein {
  0% {opacity:0;}
  100% {opacity:1;}
}
